<!DOCTYPE html>
<html>
  <head>
    <title>Backend API</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
      }
      .message {
        font-size: 18px;
        color: #444;
      }
      .repo-link {
        font-size: 16px;
        margin-top: 20px;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>This is a Backend API</h1>
      <p class="message">
        Welcome to our Backend API! This API is built with Node.js and Express,
        using EJS as the templating engine.
      </p>
      <p class="message">
        It is designed to handle various requests and provide data to frontend
        applications.
      </p>
      <p class="message">
        If you are interested in exploring the source code, you can find it on
        GitHub.
      </p>
      <p class="repo-link">
        <a href="https://github.com/Sahilll15/TaskManagment_API" target="_blank"
          >View the Repository</a
        >
      </p>
    </div>
  </body>
</html>
